/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 oct 2023, 13:23:30
    Author     : danii
*/

body {
    font-family: sans-serif;
    padding: 80px 20 px 0;
    background-color: bisque;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}
